<!-- Footer -->
  <footer class="site-footer">
    <div class="container text-center">
      <a href="/" class="logo-footer">
        <img src="https://res.cloudinary.com/ddxnktu31/image/upload/v1734320000/logo_1_cye7da.png" alt="Pet Rescue Logo">
      </a>
      <p>© 2024 Pet Rescue. All rights reserved.</p>
      <nav>
        <ul class="footer-nav flex-group" role="list">
          <li><a href="/" class="footer-link">Home</a></li>
          <li><a href="/adopt" class="footer-link">Adopt</a></li>
          <li><a href="/contact" class="footer-link">Contact</a></li>
        </ul>
      </nav>
    </div>
  </footer>